.footer {
  background-color: $light-black-color;

  &__container {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $white-color;
    padding-top: 4.7rem;
    padding-bottom: 9rem;
  }
}

.site__link {
  width: 45px;
  margin-bottom: 47px;
  font-size: 32px;
  font-weight: 700;
}
