.header {
}
.header__container {
  padding-top: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site__logo {
}
.sitenav {
}
.sitenav__list {
  display: flex;
  gap: 20px;
}
.sitenav__item {
}
.sitenav-link {
}
.sitenav-link__img {
}
